

.cards {
    margin-left: 10px;
    margin-top: 8px;
    border: 2px solid black;
    width: 120px;
   cursor: pointer;
}

.box {
    cursor: pointer;
}

.in-cards img{
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
}
section .in-cards  p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    margin: 4px 0 0 6px;
}

section .in-cards h1{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}
.tombol-submit p {
    margin: 0;
    font-size: 17px;
}
.garis {
    display: flex;
}
